modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:all"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[userenv]

[userenv.shared]
SMTP_USER = "naamamentorconnect@gmail.com"
VAPID_PUBLIC_KEY = "BJr5ISkoyiIOXpL2ZJpEH23gA8OMfC1IFe_EX28lyvuy3xJciYtCAUHcQcvUyF6Ag1gTZPmwErZD6-GYYTgcBDY"
VAPID_PRIVATE_KEY = "sECRIb0e9AnOSHrroxJrTt8UX8k41tjptq84_BQWyP4"
VAPID_EMAIL = "mailto:naamamentorconnect@gmail.com"
